@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
  background-color: #F5F6FA;
  font-family: "Rubik", sans-serif;
  padding-block: 4rem;
}

#root {
  inline-size: min(45.625rem, 95%);
  margin-inline: auto;
}

.commentPost {
  margin-block-end: 1.25rem;
}

.comment, .reply {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: grid;
  row-gap: 0.9375rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "counter user buttons" "counter content content";
}
.comment + .initiator, .reply + .initiator {
  margin-block-start: 0.5rem;
}
.comment > .userData, .reply > .userData {
  grid-area: user;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comment > .userData > .image, .reply > .userData > .image {
  inline-size: 2rem;
  block-size: 2rem;
}
.comment > .userData > .image > img, .reply > .userData > .image > img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comment > .userData > .userName, .reply > .userData > .userName {
  color: var(--dark-blue, #334253);
  font-size: 1rem;
  font-weight: 500;
}
.comment > .userData > .createdAt, .reply > .userData > .createdAt {
  color: var(--grayish-blue, #67727E);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.comment > .scoreCounter, .reply > .scoreCounter {
  grid-area: counter;
  inline-size: 2.5rem;
  block-size: 6.25rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  background-color: #F5F6FA;
  border-radius: 0.625rem;
}
.comment > .scoreCounter > span, .reply > .scoreCounter > span {
  color: #C5C6EF;
  display: grid;
  place-items: center;
}
.comment > .scoreCounter > span:hover, .reply > .scoreCounter > span:hover {
  color: #5357B6;
  cursor: pointer;
}
.comment > .scoreCounter .boldScore, .reply > .scoreCounter .boldScore {
  text-align: center;
  color: #5357B6;
  font-size: 1rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.comment > .content, .reply > .content {
  grid-area: content;
  min-block-size: 72;
}
.comment > .content > p, .reply > .content > p {
  color: var(--grayish-blue, #67727E);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.comment > .content > p > span, .reply > .content > p > span {
  font-weight: 500;
  color: var(--grayish-blue, #5357B6);
}
.comment > .content > .editor, .reply > .content > .editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
.comment > .content > .editor > textarea, .reply > .content > .editor > textarea {
  inline-size: 100%;
  min-block-size: 6rem;
}
.comment > .buttons, .reply > .buttons {
  grid-area: buttons;
  display: flex;
  gap: 1.5rem;
}

.replies {
  inline-size: auto;
  margin-inline-start: 2.6875rem;
  border-inline-start: solid 1px #E9EBF0;
  padding-inline-start: 2.6875rem;
  margin-block-start: 1.25rem;
}
.replies > * {
  margin-block-end: 1.25rem;
}
.replies > *:last-child {
  margin: 0;
}

.initiator {
  display: flex;
  gap: 1rem;
  align-items: start;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.initiator > .content {
  flex: 1 1 0;
  min-block-size: 6rem;
}

.image {
  inline-size: 2rem;
  block-size: 2rem;
}
.image > img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

textarea {
  resize: none;
  font-family: inherit;
  outline: none;
  border-radius: 8px;
  border: #5357B6;
  border: 1px solid #E9EBF0;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
}
textarea:focus {
  border: 1px solid #5357B6;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.label_you {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #5357B6;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  padding-inline: 0.375rem;
  padding-block: 0.0625rem 0.1875rem;
}

.action-btn {
  color: #fff;
  font-weight: 500;
  background-color: #5357B6;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-inline: 1.875rem;
  padding-block: 0.75rem;
  position: relative;
}
.action-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0;
}
.action-btn:hover::after {
  opacity: 0.5;
}

[class*=config] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--light-grayish-blue, #5357B6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
[class*=config]:hover {
  color: var(--light-grayish-blue, #C5C6EF);
}
[class*=config]:active {
  gap: 0.625rem;
}
[class*=config].config-delete {
  color: var(--light-grayish-blue, #ED6368);
}
[class*=config].config-delete:hover {
  color: var(--light-grayish-blue, #FFB8BB);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6196078431);
  display: grid;
  place-items: center;
}
.overlay > .askToDeleteUI {
  max-inline-size: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}
.overlay > .askToDeleteUI > article > h2 {
  color: var(--dark-blue, #334253);
  font-size: 1.5rem;
  font-weight: 500;
}
.overlay > .askToDeleteUI > article > p {
  color: var(--grayish-blue, #67727E);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.overlay > .askToDeleteUI > article > * {
  margin-block-end: 1.25rem;
}
.overlay > .askToDeleteUI > article > *:last-child {
  margin: 0;
}
.overlay > .askToDeleteUI .buttons {
  display: flex;
  gap: 0.875rem;
}
.overlay > .askToDeleteUI .buttons > * {
  flex: 1 1 auto;
  border-radius: 8px;
  color: var(--white, #FFF);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border: none;
  font-family: inherit;
  block-size: 3rem;
  cursor: pointer;
}
.overlay > .askToDeleteUI .buttons > *.no {
  background: #67727E;
}
.overlay > .askToDeleteUI .buttons > *.yes {
  background: #ED6368;
}

.loading {
  block-size: 600px;
  display: grid;
  place-items: center;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }
  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }
  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }
  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }
  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }
  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}
@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }
  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }
  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }
  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }
  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }
  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }
  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}
@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }
  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }
  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }
  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }
  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }
  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }
  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }
  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }
  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }
  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }
  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }
  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }
  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}/*# sourceMappingURL=style.css.map */